.image-user {
    padding: 17%;
    border: 1px solid #fff;
    border-radius: 104px;
    height: 19vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

    .image-user img {
        width: 100%;
    }

/*form step*/
.form-title-sc {
    color: #2c3638;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0px 30px 0px;
}

.form {
    position: relative;
    width: 100%;
    max-width: 550px;
    padding: 15px 30px;
    background: white;
    box-shadow: 0px 0px 3px rgb(208 208 208 / 30%);
    border-radius: 4px;
}

.form-controll {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .form-controll:not(:last-of-type) {
        margin-bottom: 33px;
    }

.form-input {
    position: relative;
    width: 100%;
}

    .form-input input,
    .form-input textarea {
        position: relative;
        width: 100%;
        padding: 8px 0px;
        outline: 1px solid transparent;
        border: 1px solid transparent;
        border-bottom: 1px solid #c2c2c2;
        background: transparent !important;
        z-index: 9;
        color: #2c3638;
    }

.form-controll label {
    position: absolute;
    left: 0px;
    bottom: 10px;
    color: #c2c2c2;
    font-size: 14px;
    z-index: 1;
    transition: all 0.1s ease-in;
}

input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label {
    bottom: 100%;
    z-index: 9;
    transition: all 0.1s ease-in-out;
}

textarea {
    resize: none;
    min-height: 50px;
}

input:focus {
    border-bottom: 1px solid #00c5b2;
}



.form-submit {
    position: relative;
    width: 100%;
    margin: 14px 0px;
}

    .form-submit .form-btn {
        width: 100%;
        padding: 8px;
        background: #d4af37;
        font-weight: 500;
        font-size: 14px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        text-transform: uppercase;
        transition: all 0.2s ease;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0.5px;
        color: #FFF;
        cursor: pointer;
    }

        .form-submit .form-btn:hover {
            background: #00c5b2;
            transition: all 0.2s ease-out;
        }

.grid-2 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.password-showHide {
    position: absolute;
    right: 0px;
    top: 50%;
    display: grid;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 99;
}

    .password-showHide .icon {
        grid-row: 1/2;
        grid-column: 1/2;
    }

        .password-showHide .icon path {
            fill: #c2c2c2;
            transition: all 0.2s ease;
        }

    .password-showHide:hover .icon path {
        fill: #2c3638;
        transition: all 0.2s ease;
    }

    .password-showHide .icon.show-password {
        opacity: 1;
        z-index: 9;
    }

    .password-showHide .icon.hide-password {
        opacity: 0;
        z-index: -1;
    }

    .password-showHide.hide .icon.show-password {
        opacity: 0;
        z-index: -1;
    }

    .password-showHide.hide .icon.hide-password {
        z-index: 9;
        opacity: 1;
    }



.step-tab-items {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: center;
}

    .step-tab-items .step-item {
        position: relative;
        list-style: none;
        width: 25px;
        height: 25px;
        background: #e2e2e2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        font-size: 14px;
        cursor: pointer;
    }

        .step-tab-items .step-item.active {
            background: #00c5b2;
        }


        .step-tab-items .step-item:not(:last-child) {
            margin-right: 45px;
        }

        .step-tab-items .step-item:not(:last-of-type)::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background: rgb(241, 239, 239);
            left: calc(100% + 10px);
        }

        .step-tab-items .step-item.active::before {
            background: #00c5b2;
        }

.step-tabs .step-tab {
    display: none;
}

    .step-tabs .step-tab.active {
        display: block;
    }

.select2-results__options::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.select2-results__options::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.select2-results__options::-webkit-scrollbar-thumb {
    background-color: #d4af37;
}

.login-one {
    position: relative;
    display: block;
    padding: 112px 0px 120px;
    z-index: 1;
}

    .login-one .container {
    }

.login-one__form {
    position: relative;
    display: block;
}

    .login-one__form .inner-title {
        position: relative;
        display: block;
        padding-bottom: 60px;
    }

        .login-one__form .inner-title h2 {
            font-size: 60px;
            line-height: 1.0em;
            font-weight: 700;
            text-transform: capitalize;
        }

    .login-one__form form {
        position: relative;
        display: block;
        background-color: rgb(0 0 0 / 70%);
        box-shadow: 0px 0px 20px #d1b14ba1;
        padding: 60px 50px 52px;
        border: 1px solid;
        backdrop-filter: blur(1px);
        border-radius: 10px;
        color: #fff;
    }

        .login-one__form form .form-group {
            position: relative;
            display: block;
            margin-bottom: 20px;
        }

        .login-one__form form .input-box {
            position: relative;
            display: block;
        }

        .login-one__form form input[type="text"],
        .login-one__form form input[type="email"],
        .login-one__form form input[type="password"],
        .login-one__form form input[type="date"] {
            position: relative;
            display: block;
            border-radius: 10px;
            border: 1px solid rgba(var(--judges-bdr-color-rgb), .50);
            background-color: rgb(0 0 0 / 2%);
            width: 100%;
            height: 60px;
            color: var(--judges-gray);
            font-size: 16px;
            font-family: var(--judges-font);
            font-weight: 400;
            font-style: normal;
            padding-left: 30px;
            padding-right: 30px;
            outline: none;
            transition: all 500ms ease;
        }

            .login-one__form form input[type="text"]:focus,
            .login-one__form form input[type="email"]:focus {
                border-color: var(--judges-base);
                background-color: var(--judges-white);
            }

            .login-one__form form input[type="text"]::-webkit-input-placeholder {
                color: var(--judges-gray);
            }

            .login-one__form form input[type="text"]:-moz-placeholder {
                color: var(--judges-gray);
            }

            .login-one__form form input[type="text"]::-moz-placeholder {
                color: var(--judges-gray);
            }

            .login-one__form form input[type="text"]:-ms-input-placeholder {
                color: var(--judges-gray);
            }

            .login-one__form form input[type="email"]::-webkit-input-placeholder {
                color: var(--judges-gray);
            }

            .login-one__form form input[type="email"]:-moz-placeholder {
                color: var(--judges-gray);
            }

            .login-one__form form input[type="email"]::-moz-placeholder {
                color: var(--judges-gray);
            }

            .login-one__form form input[type="email"]:-ms-input-placeholder {
                color: var(--judges-gray);
            }

        .login-one__form form .thm-btn {
            width: 100%;
            background-color: transparent;
            justify-content: space-between;
        }

            .login-one__form form .thm-btn:hover::before {
                right: -50px;
            }

        .login-one__form form .remember-forget {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 24px;
        }


        .login-one__form form .checked-box1 {
            position: relative;
            display: block;
            min-height: 26px;
        }

            .login-one__form form .checked-box1 input[type="checkbox"] {
                display: none;
            }

            .login-one__form form .checked-box1 label {
                position: relative;
                display: inline-block;
                padding-left: 25px;
                color: var(--judges-gray);
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
                cursor: pointer;
                font-family: var(--judges-font);
            }

            .login-one__form form .checked-box1 input[type="checkbox"] + label span {
                position: absolute;
                display: block;
                top: 5px;
                left: 0;
                width: 16px;
                height: 16px;
                background-color: transparent;
                border: 1px solid #e3e4ea;
                cursor: pointer;
                border-radius: 4px;
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 300ms ease;
            }

            .login-one__form form .checked-box1 label span:before {
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0;
                right: 0;
                content: "";
                width: 8px;
                height: 8px;
                background: var(--judges-base);
                border-radius: 2px;
                margin: 3px auto 0px;
                transform: scale(0);
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 300ms ease;
            }

            .login-one__form form .checked-box1 input[type="checkbox"]:checked + label span {
                border-color: var(--judges-base);
            }

                .login-one__form form .checked-box1 input[type="checkbox"]:checked + label span:before {
                    transform: scale(1.0);
                }


        .login-one__form form .forget {
            position: relative;
            display: block;
        }

            .login-one__form form .forget a {
                color: #ffffff;
                font-size: 16px;
                line-height: 26px;
                font-family: var(--judges-font);
                font-weight: 400;
                transition: all 200ms linear;
                transition-delay: 0.1s;
            }

                .login-one__form form .forget a:hover {
                    color: var(--judges-base);
                }

        .login-one__form form .create-account {
            position: relative;
            display: block;
            padding-top: 25px;
        }

            .login-one__form form .create-account p {
                color: #ffffff;
            }

                .login-one__form form .create-account p a {
                    color: var(--judges-base);
                    font-weight: 500;
                }
